@{
  Layout = "_Layout";
}

@model Treats.Models.Treat

<h4>Add A New Treat Choice Here</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.Label("Select Flavor")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Add a new treat" class="btn btn-dark" />
}
<p>@Html.ActionLink("Show all treat options", "Index")</p>